.about-body {
  padding-top: 50vh;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
}
.about-left {
  align-items: center;
  text-align: center;
}
.about-left {

}
.about-middle {

}
.about-right {

}
