.about-body {
  padding-top: 40vh;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
}
.about-photo {
  max-width: 100%;
  padding-bottom: 2rem;
}
.education-header,
.bio-header,
.skills-header {
  color: #003366;
  font-weight: 600;
}
.education-title,
.skills-title {
  font-weight: 600;
  font-size: 10pt;
}
.education-body,
.skills-body,
.bio-body {
  font-size: 10pt;
  padding-bottom: 2rem;
}
.resume-link {
  justify-content: center;
  font-size: 12pt;
}
