html, body {
  font-family: 'Raleway', sans-serif;
  color: #222;
  background-color: #000;
  scroll-behavior: smooth;
}

.padding {
  /* padding-bottom: 2rem; */
  padding: 0 0 2rem 1rem;
}

.navbar {
  padding: 3rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.nav-color, .logo-name {
  color: #D0D3D4 !important;
}

.nav-color:hover {
  color: white !important;
}

.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}

.logo-name {
  font-weight: 500;
}

.main-text {
  padding-left: 1rem;
}

.my-name {
  color: white;
  padding-top: .25em;
  font-weight: 600;
  font-size: 5rem;
  animation-name: name-drop, fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.my-text {
  color: #D0D3D4;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  padding-top: 3rem;
}

.my-name h1 {
  line-height: .8;
}

.my-name-sub {
  color: #D0D3D4;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes name-drop {
  0% {transform: translateY(-100%);}
}

.test-box {
  height: 50rem;
}

/*---Media Queries --*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
