html, body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  background-color: white;
  scroll-behavior: smooth;
}
.navbar {
  padding: 3rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.nav-link {
  font-size: 1.3em !important;
  padding-left: 2.5rem !important;
}
.nav-item {
  text-align: right;
}
.collapsing, .collapse.show {
  background-color: #F5F5F5;
  border-radius: 5px;
}
.logo {
  height: auto;
  width: 6rem;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("/img/menu.svg");
}
.row {
  margin: 0;
}
.head-waves {
  position: absolute;
}
.scroll-top {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 80px;
  height: 80px;
}
.scroll-bot {
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90%;
  display: flex;
  cursor: pointer;
  transition: all .25s ease-in-out;
}
.show {
  visibility: visible;
  opacity: 1;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
.welcome-section {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}
.main-text {
  padding-left: 1rem;
}
.my-name-main {
  padding-top: 2.5em;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  animation-name: name-drop, fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.my-name-sub {
  color: #012172;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.brief {
  width: 60%;
  margin: 0 auto;
}
.my-name-brief {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 6rem;
  animation-name: name-rise, fade-in;
  animation-duration: 1.5s;
  animation-delay: .75s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.fa-chevron-down, .fa-chevron-up {
  font-size: 2rem;
}
.thumbnail-row {
  justify-content: center;
}
.thumbnail {
  height: 24rem;
  margin: 1rem;
  padding: 0 !important;
  text-decoration: none !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.thumbnail > img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.tile-1 {
  background-image: url('../img/TJFarms/tjfarms.PNG');
  background-size: 100% 100%;
}
.tile-2 {
  background-image: url('../img/NewsFlash/NewsFlash-Presentation.jpg');
  background-size: 100% 100%;
}
.tile-3 {
  background-image: url('../img/FastEats/Final.png');
  background-size: 100% 100%;
}
.tile-4 {
  background-image: url('../img/FlyingGroceries/flyinggroceries.PNG');
  background-size: 100% 100%;
}
.tile-5 {
  background-image: url('../img/Spinsters/spinsters.png');
  background-size: 100% 100%;
}
.tile-6 {
  background-image: url('../img/Calculator/calculator.PNG');
  background-size: 100% 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.8);
}
.hover-text {
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 10rem;
}
.hover-text-sub {
  color: white;
  font-size: 16px;
  text-align: center;
}
.thumbnail:hover .overlay {
  opacity: 1;
}
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes name-drop {
  0% {transform: translateY(-100%);}
}
@keyframes name-rise {
  0% {transform: translateY(100%);}
}
.footer-dark {
  background-color: #1c2331 !important;
}
.footer-accent {
  background-color: #003366;
}
.footer-copyright {
  background-color: rgba(0,0,0,0.2);
}
footer p,
footer h6,
footer a,
.white-text,
.footer-accent,
.footer-copyright {
  color: white;
}
footer hr {
  border-color: #003366;
}
.connect-icon {
  font-size: 2rem;
}
.connect-icon:hover, footer a:hover {
  text-decoration: none;
  color: white;
}
/*---Media Queries --*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

@media (max-width: 992px) {
  .navbar {
    padding: 2rem;
  }
  .navbar-nav .nav-link {
    padding-right: 1rem;
  }
  .brief {
    width: 80%;
  }
  .overlay {
    opacity: .8;
  }
  .scroll-bot,
  .scroll-top {
    visibility: hidden;
  }
}
@media (max-width: 576px) {
  .navbar-nav .nav-link {
    padding-right: 1rem;
    color: rgba(0,0,0,1) !important;
  }
  .my-name-main {
    font-size: 2.5rem;
    padding-top: 4rem;
  }
  .my-name-sub {
    font-size: 1.5rem;
  }
  .my-name-brief {
    padding-top: 4rem;
  }
  .brief {
    width: auto;
  }
  .project-title > p {
    text-align: center;
  }
  .thumbnail {
    height: 18rem;
  }
  .hover-text {
    padding-top: 7rem;
  }

  .main-text {
    padding-left: 0;
  }
  .section-text {
    padding: 0 !important;
  }
  .top-link {
    color: black !important;
  }
}
@media (max-width: 320px) {
  .my-name-brief {
    font-size: 1.25rem;
    padding-top: 1rem;
  }
}
