html, body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  background-color: white;
  scroll-behavior: smooth;
}
p {
  color: #4d4d4d;
  font-size: 18px;
}
.navbar {
  padding: 3rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.mobile-navbar {
  opacity: 0;
  z-index: 10;
}
.top-link {
  font-size: 1em !important;
  padding-left: 2.5rem !important;
}
.nav-item {
  text-align: right;
}
.navbar-light .navbar-toggler {
  border-color: transparent !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("/img/menu.svg");
}
.nav-sidebar {
  position: fixed;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 87.5%;
  z-index: 0;
}
.sidebar-title {
  font-weight: 600;
}
.nav-sidebar-links a {
  font-size: 12pt;
  color: gray;
}
.nav-pills .nav-link.active {
  background-color: transparent !important;
  color: black;
}
.collapsing, .collapse.show {
  background-color: #e6f2ff;
  border-radius: 5px;
}
.logo {
  height: auto;
  width: 6rem;
}
.row {
  margin: 0;
}
.title {
  padding-top: 10rem;
  text-align: center;
}
.title a {
  text-decoration: none;
  color: #003366;
}
.title > h1 {
  font-weight: 600;
}
.title > h2 {
  font-style: italic;
  color: #4d4d4d;
  font-size: 24px;
}
h3 {
  font-weight: bold;
}
.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 69vh; /*nice*/
}
.header-photo {
  width: 100%;
  max-height: 62vh;
  box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.5);
}
.header-right {
  padding: 0 2rem 2rem 2rem;
  max-width: 800px;
}
.header-right > h2, .overview-sub-tab > h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 30px;
}
.header-right hr {
  border: 1px solid gray;
  width: 80%;
  margin: 2rem;
}

.section-divider {
  border: 1px solid gray;
  width: 80%;
}
.subsection-style {
  background-image: linear-gradient(#f0f3f4, #FEFFFF);
}
.overview-sub {
  height: 33%;
}
.overview-sub-tab {
  padding-left: 0;
}
.problem-images {
  height: 33vh;
}
.fa-edit, .fa-html5, .fa-css3-alt, .fa-js {
  font-size: 3.5rem;
  padding: .4rem;
}
.fa-js {
  color: #F0DB4F;
}
.fa-css3-alt {
  color: #264de4;
}
.fa-html5 {
  color: #e34c26;
}
.fa-github {
  color: #211F1F;
  font-size: 8rem;
}
.fa-newspaper {
  color: #211F1F;
  font-size: 8rem;
}
.fa-paperclip {
  color: #211F1F;
  font-size: 8rem;
}
.divider {
  border: 1px solid gray;
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.subsection {
  justify-content: center;
}
.subsection > a {
  background-color: white;
}
.problem-caption {
  height: 150px;
}
.understanding-images {
  height: 100%;
}
.section-text {
  width: 60%;
  padding-bottom: 2rem;
}
.section-text > h1 {
  padding-bottom: 2rem;
}
.understanding-list {
  font-size: 40px;
}
.section-text li p {
  font-size: 18px;
}
.section-image {
  border-radius: 8px;
  justify-content: center;
  text-align: center;
}
.section-image > a > img {
  max-height: 640px;
}
.caption {
  justify-content: center;
  text-align: center;
}
.caption p {
  font-size: 16px;
  font-style: italic;
}
.links {
  padding-bottom: 4rem;
}
.footer-dark {
  background-color: #1c2331 !important;
}
.footer-accent {
  background-color: #003366;
}
.footer-copyright {
  background-color: rgba(0,0,0,0.2);
}
footer p,
footer h6,
footer a,
.white-text,
.footer-accent,
.footer-copyright {
  color: white;
  font-size: 1rem;
}
footer hr {
  border-color: #003366;
}
.connect-icon, 
.footer-git,
.footer-linked {
  font-size: 2rem !important;
}
.connect-icon:hover, footer a:hover {
  text-decoration: none;
  color: white;
}

/*---Media Queries --*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
@media (max-width: 1024px) {
  .problem-images {
    height: 15vh;
  }
  .understanding-images {
    height: 100%;
  }
  .problem-caption {
    height: 200px;
  }
  #sidebar {
    opacity: 0;
    left: 100%;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 2rem;
  }
  .header {
    height: 100%;
  }
  .header-right {
    padding-top: 2rem;
  }
  .header-right hr {
    width: auto;
  }
  .header-right > h2 {
    text-align: center;
    font-size: 40px;
  }
  .problem-images {
    height: 20vh;
  }
  .understanding-images {
    height: 100%;
  }
  .overview-sub {
    text-align: center;
  }
  .overview-sub-tab {
    padding-right: 0;
  }
  .section-text {
    width: auto;
    padding: 0 2rem 2rem 2rem;
  }
}
@media (max-width: 768px) {}
@media (max-width: 576px) {
  .divider {
    border: 1px solid gray;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    visibility: hidden;
  }
  .section-text h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .problem-caption {
    height: auto;
  }
  .problem-images {
    height: 30vh;
    padding-bottom: 0;
  }
  .problem-images img {
    height: auto !important;
  }
  .understanding-images {
    height: 100%;
  }
  .understanding-list {
    font-size: 1rem;
  }
  .caption {
    padding-top: 0.5rem;
  }
  .caption-bottom {
    padding-bottom: 0rem;
  }
  .links {
    padding-top: 2rem;
  }
  .section-text {
    padding: 0;
  }
  .section-text p {
    padding: 0 2rem 0 2rem;
  }
  .section-text h3 {
    padding-left: 2rem;
  }
  #sidebar {
    opacity: 0;
    left: 100%;
  }
  .top-link {
    color: black !important;
  }
}
