.section-header {
  padding-bottom: 3rem;
}
.problem-titles {
  font-size: 26px;
  font-weight: 600;
  color: orange;
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}
.problem-images {
  padding-bottom: 2rem;
}
.problem-images img {
  max-height: 18rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .problem-images {
    padding-bottom: 0.5rem;
  }
}
